html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

body {
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 14px;
}
 h2 {
	
	font-size: 25px;
	text-align: LEFT;
	font-weight: bold;
	line-height: 2;
}

 h2 a {
	color: #000;
}

 h3 {
	
	font-size: 20px;
	text-align: LEFT;
	font-weight: bold;
	line-height: 2;
}

.clear {
	clear: both;
}

#wrapper {
	width: 90%;
	margin: 10px auto;
}

#wrapper a {
	text-decoration: none;
	color: #F48A00;
}

#wrapper span.highlight {
	color: #F48A00;
}

#header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	margin-top: 5px;
	border-right: 1px solid #ccc;
	margin-top: 5px;
}

#header ul.navigation {
	list-style: none;
	text-align: left;
	font-size: 17px;
	font-weight: bold;
}

#header .navigation li {
	display: inline
}

#header .navigation li a {
	display: inline-block;
	padding: 10px 15px;
	border-left: 1px solid #ccc;
}


.main {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	padding: 20px;
	margin-bottom: 20px;
}

.down{
	margin-top: 20px;
	
}

#footer {
	border-top: 1px solid #ccc;
	clear: both;
	text-align: center;
	padding: 10px;
	color: #aaa;
}


.print *{	
	margin :0px;
	padding: 0px;
	clear : both;
	font-weight:normal;
	text-decoration: none;
	line-height: 1.3;
  	font:solid;
	background: white;
	
	font: 8pt Georgia, "Times New Roman", Times, serif;
}
.print .greenTable {
	font: 8pt Georgia, "Times New Roman", Times, serif;
	text-align: center;
	margin :0px;
	padding: 0px;
	font-size:8px;
	box-shadow: 0px 0px 0px #888888;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-gradient:0px;
	border-top-left-radius: 0px;
}

.print .greenTable * {
	font: 8pt Georgia, "Times New Roman", Times, serif;
	text-align: center;
	margin :0px;
	padding: 0px;
	font-size:8px;
	box-shadow: 0px 0px 0px #888888;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-gradient:0px;
	border-top-left-radius: 0px;
}

.print .greenTable tr:first-child td{
		font: 8pt Georgia, "Times New Roman", Times, serif;
	text-align: center;
	margin :0px;
	padding: 0px;
	box-shadow: 0px 0px 0px #000000;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;

	background: white;
	color: black;
}
.print #wrapper a{
	color :black;
}
.print h3,.print input,.print select{
	margin: 0px ;
	display: none;
	
}

.print .printblock, .print .down{
	margin: 0px ;
	padding:0px;
	display: none;
}
.print #map_canvas,.print #header,.print #footer{
	
	margin: 0px ;
	display: none;
	border: 0px;

}



